[static]
atomic = 100000000
network = testnet
username = username

[blockproducer]
blockproducer = blockproducer

[pool]
pool_ip = xx.xx.xx.xx
pool_port = 5000
pool_template = bfx
explorer = https://testnet.solarscan.com
coin = tSXP
proposal1 = https://delegates.solar.org/delegates/xxxx
proposal2 = https://yy.yy.yy
proposal2_lang = CC

[logging]
loglevel = INFO
formatter = %(levelname)s %(message)s
